# Ortam değişkenleri ve Gizli Anahtarlar
.env

# Python cache ve sanal ortam
__pycache__/
*.pyc
venv/

# RAG Veritabanı (Zorunlu)
vectorstore/

# Veri Seti Dosyaları (Gereksinimden dolayı zorunlu)
data/*.txt
# veya tüm data klasörünü dışlamak isterseniz:
# data/

# Streamlit (Dağıtım ve Geliştirme Temizliği)
.streamlit/