streamlit
python-dotenv

# LangChain bileşenleri
langchain
langchain-community
langchain-core          # Yeni! LLM temel sınıfı için.
langchain-text-splitters # Yeni! Splitter için.

# Vektör Veritabanı ve Embeddings
chromadb
sentence-transformers

# Google Gemini API
google-genai